Package: oasterisk-addressbook
Source: oasterisk
Version: 0.9.14-r1264
Architecture: all
Maintainer: Ivan Batalin <director@oas.su>
Installed-Size: 69
Pre-Depends: dpkg (>= 1.15.6~)
Depends: oasterisk-core-settings-generic
Section: web
Priority: optional
Description: OAS'tersik AddressBook extension
